<h2>Log In</h2>
<form action="/api/sessions" method="POST">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="Password">
    <input type="submit" value="Log In">
</form>
<a href="/api/sessions/register">Aun no tienes cuenta?</a>
<a href="/api/sessions/github">Log in Github</a>