<h2>Registrarse</h2>
<form action="/api/sessions/register" method="POST">
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="text" name="email" placeholder="E-mail">
    <input type="text" name="password" placeholder="Password">
    <input type="number" name="age" placeholder="Age">
    <input type="submit" value="Registrarse">
</form>
<a href="/api/sessions">Ya tengo cuenta</a>